{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
    {%- if block.settings.country != blank -%}
      {%- if block.settings.text != blank and localization.country.iso_code == block.settings.country -%}
        <div
          class="announcement-bar bg-primary py-3 px-3 text-center text-white text-xs"
          role="region"
          aria-label="Announcement Bar"
          {{ block.shopify_attributes }}>
          {{ block.settings.text }}
        </div>
      {% endif %}
    {% else %}      
      {%- if block.settings.text != blank -%}
        <div
          class="announcement-bar bg-primary py-3 px-3 text-center text-white text-xs"
          role="region"
          aria-label="Announcement Bar"
          {{ block.shopify_attributes }}>
          {{ block.settings.text }}
        </div>
      {% endif %}
    {% endif %}
  {%- endcase -%}
{%- endfor -%}
{% schema %}
  {
    "name": "Announcement Bar",
    "max_blocks": 12,
    "class": "announcement-bar-section",
    "blocks": [
      {
        "type": "announcement",
        "name": "Announcement Bar",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "default": "Welcome to our store",
            "label": "Text"
          }, {
            "type": "text",
            "id": "country",
            "label": "Country",
            "info": "Country iso_code ie. CA , US"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  }
{% endschema %}